.git
.gitignore
__pycache__/
*.pyc
.venv/
.env
.env.local
.idea/
.vscode/
.ipynb_checkpoints/
data/imagenette2-320/
data/raw/
data/processed/
mlruns/
profiles/
checkpoints/
benchmarks/raw/
*.tgz
notebooks/
.pytest_cache/
